/* header */
header {
  position: fixed;
  background-color: #2c3e50;
  color: white;
}
nav {
  margin-right: 10%;
}
header a {
  text-decoration: none;
  color: white;
  font-size: large;
  padding: 2.5%;
  font-weight: bold;
}
header a:hover {
  color: #1d966b;
}
header > a:hover {
  color: white;
}
header li > a {
  font-size: 10px;
  padding: 2.5%;
}
header ul {
  list-style: none;
}
header > a {
  flex: 1 0 20%;
  margin-left: 010%;
}
header nav {
  flex: 0 0 30%;
}
header li {
  flex: 0 0 20%;
}

/* Hero */
.hero-container {
  background-color: #1abc9c;
}
.hero-container img {
  padding-top: 25vh;
  width: 50vw;
  height: 60vh;
}
h1 {
  color: white;
  font-size: 45px;
  font-weight: bolder;
  margin: 5vh auto;
}
.hero-container p {
  color: white;
  font-size: medium;
  margin: 10vh auto;
}

/* Portfolio */
.portfolio-container {
  background-color: white;
}
h2 {
  color: #2c3e50;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  padding-top: 10vh;
}
.portfolio-container a {
  height: 50vh;
  flex: 1 0 33.33%;
  padding: 10vh 1vh 0 1vh;
}
.portfolio-container a img {
  border-radius: 6px;
}
.portfolio-container div {
  padding-left: 3%;
}

/* utilities */
.container {
  padding: 1%;
  margin: auto;
  width: 100%;
}
.flex-column-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}
